html {
  font-size: 0.875em; }

body {
  margin: 0px; }

#container {
  padding: 1.25rem; }

h1, h2 {
  font-weight: normal;
  margin: 0em; }

p {
  margin: 0em; }

h1 {
  font-size: 2.0rem; }

h2 {
  font-size: 1.5em;
  border-bottom: 1px solid #cccccc; }

p {
  margin: 0em; }

section {
  margin: 0em;
  padding: 0em; }

ul, ol {
  margin-left: 0em;
  padding-left: 0em; }
  ul li, ol li {
    margin-left: 0em;
    padding-left: 0em; }

.clearfix {
  overflow: hidden;
  *zoom: 1; }
  .clearfix > div {
    float: left; }

header h1 {
  padding-bottom: 1.25rem; }

#top li {
  font-size: 1.5em;
  list-style-position: inside; }
  #top li > div {
    font-size: 1.0rem; }
    #top li > div > *:not(h2) {
      margin-left: 1.25rem; }
    #top li > div > div {
      padding: 1.25rem 0em; }

#top_buttons {
  border-top: 1px solid #cccccc;
  padding: 1.25rem 0em 1.25rem 1.25rem; }
